__pycache__/
*.py[cod]
*$py.class

*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3

/media/
/staticfiles/
static/
media/

venv/
ENV/
env/
.venv/
.env/

.vscode/

.idea/
*.swp

htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

*/migrations/
*/migrations/*.py
*/migrations/*.pyc

local_settings.py
.env.local
.env.dev
.env.prod

node_modules/

.DS_Store

Thumbs.db

celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal

dump.rdb